@media(min-width:390px){
	.popup-final{
	
		&__heading{
			right: 29%;
		}
	}
}

@media (min-width: 400px) {
	.plane-box {
		&__seat-firstRow-first {
			left: 90px;
		}

		&__seat-firstRow-second {
			left: 110px;
		}

		&__seat-firstRow-third {
			left: 130px;
		}

		&__seat-firstRow-fourth {
			left: 150px;
		}

		&__seat-firstRow-fifth {
			right: 90px;
		}

		&__seat-firstRow-sixth {
			right: 110px;
		}

		&__seat-firstRow-seventh {
			right: 130px;
		}

		&__seat-firstRow-eighth {
			right: 150px;
		}

		&__seat-secondRow-first {
			top: 150px;
			left: 90px;
		}

		&__seat-secondRow-second {
			top: 150px;
			left: 110px;
		}

		&__seat-secondRow-third {
			top: 150px;
			left: 130px;
		}

		&__seat-secondRow-fourth {
			top: 150px;
			left: 150px;
		}

		&__seat-secondRow-fifth {
			top: 150px;
			right: 90px;
		}

		&__seat-secondRow-sixth {
			top: 150px;
			right: 110px;
		}

		&__seat-secondRow-seventh {
			top: 150px;
			right: 130px;
		}

		&__seat-secondRow-eighth {
			top: 150px;
			right: 150px;
		}

		&__seat-thirdRow-first {
			top: 170px;
			left: 90px;
		}

		&__seat-thirdRow-second {
			top: 170px;
			left: 110px;
		}

		&__seat-thirdRow-third {
			top: 170px;
			left: 130px;
		}

		&__seat-thirdRow-fourth {
			top: 170px;
			left: 150px;
		}

		&__seat-thirdRow-fifth {
			top: 170px;
			right: 90px;
		}

		&__seat-thirdRow-sixth {
			top: 170px;
			right: 110px;
		}

		&__seat-thirdRow-seventh {
			top: 170px;
			right: 130px;
		}

		&__seat-thirdRow-eighth {
			top: 170px;
			right: 150px;
		}

		&__seat-fourthRow-first {
			top: 190px;
			left: 90px;
		}

		&__seat-fourthRow-second {
			top: 190px;
			left: 110px;
		}

		&__seat-fourthRow-third {
			top: 190px;
			left: 130px;
		}

		&__seat-fourthRow-fourth {
			top: 190px;
			left: 150px;
		}

		&__seat-fourthRow-fifth {
			top: 190px;
			right: 90px;
		}

		&__seat-fourthRow-sixth {
			top: 190px;
			right: 110px;
		}

		&__seat-fourthRow-seventh {
			top: 190px;
			right: 130px;
		}

		&__seat-fourthRow-eighth {
			top: 190px;
			right: 150px;
		}

		&__seat-fifthRow-first {
			top: 210px;
			left: 90px;
		}
		&__seat-fifthRow-second {
			top: 210px;
			left: 110px;
		}
		&__seat-fifthRow-third {
			top: 210px;
			left: 130px;
		}
		&__seat-fifthRow-fourth {
			top: 210px;
			left: 150px;
		}
		&__seat-fifthRow-fifth {
			top: 210px;
			right: 90px;
		}
		&__seat-fifthRow-sixth {
			top: 210px;
			right: 110px;
		}
		&__seat-fifthRow-seventh {
			top: 210px;
			right: 130px;
		}
		&__seat-fifthRow-eighth {
			top: 210px;
			right: 150px;
		}

		&__seat-sixthRow-first {
			top: 230px;
			left: 90px;
		}
		&__seat-sixthRow-second {
			top: 230px;
			left: 110px;
		}
		&__seat-sixthRow-third {
			top: 230px;
			left: 130px;
		}
		&__seat-sixthRow-fourth {
			top: 230px;
			left: 150px;
		}
		&__seat-sixthRow-fifth {
			top: 230px;
			right: 90px;
		}
		&__seat-sixthRow-sixth {
			top: 230px;
			right: 110px;
		}
		&__seat-sixthRow-seventh {
			top: 230px;
			right: 130px;
		}
		&__seat-sixthRow-eighth {
			top: 230px;
			right: 150px;
		}

		&__seat-seventhRow-first {
			top: 250px;
			left: 90px;
		}
		&__seat-seventhRow-second {
			top: 250px;
			left: 110px;
		}
		&__seat-seventhRow-third {
			top: 250px;
			left: 130px;
		}
		&__seat-seventhRow-fourth {
			top: 250px;
			left: 150px;
		}
		&__seat-seventhRow-fifth {
			top: 250px;
			right: 90px;
		}
		&__seat-seventhRow-sixth {
			top: 250px;
			right: 110px;
		}
		&__seat-seventhRow-seventh {
			top: 250px;
			right: 130px;
		}
		&__seat-seventhRow-eighth {
			top: 250px;
			right: 150px;
		}

		&__seat-eighthRow-first {
			top: 270px;
			left: 90px;
		}
		&__seat-eighthRow-second {
			top: 270px;
			left: 110px;
		}
		&__seat-eighthRow-third {
			top: 270px;
			left: 130px;
		}
		&__seat-eighthRow-fourth {
			top: 270px;
			left: 150px;
		}
		&__seat-eighthRow-fifth {
			top: 270px;
			right: 90px;
		}
		&__seat-eighthRow-sixth {
			top: 270px;
			right: 110px;
		}
		&__seat-eighthRow-seventh {
			top: 270px;
			right: 130px;
		}
		&__seat-eighthRow-eighth {
			top: 270px;
			right: 150px;
		}

		&__seat-ninthRow-first {
			top: 290px;
			left: 90px;
		}
		&__seat-ninthRow-second {
			top: 290px;
			left: 110px;
		}
		&__seat-ninthRow-third {
			top: 290px;
			left: 130px;
		}
		&__seat-ninthRow-fourth {
			top: 290px;
			left: 150px;
		}
		&__seat-ninthRow-fifth {
			top: 290px;
			right: 90px;
		}
		&__seat-ninthRow-sixth {
			top: 290px;
			right: 110px;
		}
		&__seat-ninthRow-seventh {
			top: 290px;
			right: 130px;
		}
		&__seat-ninthRow-eighth {
			top: 290px;
			right: 150px;
		}

		&__seat-tenthRow-first {
			top: 310px;
			left: 90px;
		}
		&__seat-tenthRow-second {
			top: 310px;
			left: 110px;
		}
		&__seat-tenthRow-third {
			top: 310px;
			left: 130px;
		}
		&__seat-tenthRow-fourth {
			top: 310px;
			left: 150px;
		}
		&__seat-tenthRow-fifth {
			top: 310px;
			right: 90px;
		}
		&__seat-tenthRow-sixth {
			top: 310px;
			right: 110px;
		}
		&__seat-tenthRow-seventh {
			top: 310px;
			right: 130px;
		}
		&__seat-tenthRow-eighth {
			top: 310px;
			right: 150px;
		}

		&__seat-eleventhRow-first {
			top: 330px;
			left: 90px;
		}
		&__seat-eleventhRow-second {
			top: 330px;
			left: 110px;
		}
		&__seat-eleventhRow-third {
			top: 330px;
			left: 130px;
		}
		&__seat-eleventhRow-fourth {
			top: 330px;
			left: 150px;
		}
		&__seat-eleventhRow-fifth {
			top: 330px;
			right: 90px;
		}
		&__seat-eleventhRow-sixth {
			top: 330px;
			right: 110px;
		}
		&__seat-eleventhRow-seventh {
			top: 330px;
			right: 130px;
		}
		&__seat-eleventhRow-eighth {
			top: 330px;
			right: 150px;
		}

		&__seat-twelfthRow-first {
			top: 350px;
			left: 90px;
		}
		&__seat-twelfthRow-second {
			top: 350px;
			left: 110px;
		}
		&__seat-twelfthRow-third {
			top: 350px;
			left: 130px;
		}
		&__seat-twelfthRow-fourth {
			top: 350px;
			left: 150px;
		}
		&__seat-twelfthRow-fifth {
			top: 350px;
			right: 90px;
		}
		&__seat-twelfthRow-sixth {
			top: 350px;
			right: 110px;
		}
		&__seat-twelfthRow-seventh {
			top: 350px;
			right: 130px;
		}
		&__seat-twelfthRow-eighth {
			top: 350px;
			right: 150px;
		}

		&__seatB-firstRow-first {
			left: 90px;
		}
		&__seatB-firstRow-second {
			left: 120px;
		}
		&__seatB-firstRow-third {
			left: 150px;
		}
		&__seatB-firstRow-fourth {
			right: 90px;
		}
		&__seatB-firstRow-fifth {
			right: 120px;
		}
		&__seatB-firstRow-sixth {
			right: 150px;
		}

		&__seatB-secondRow-first {
			left: 90px;
		}
		&__seatB-secondRow-second {
			left: 120px;
		}
		&__seatB-secondRow-third {
			left: 150px;
		}
		&__seatB-secondRow-fourth {
			right: 90px;
		}
		&__seatB-secondRow-fifth {
			right: 120px;
		}
		&__seatB-secondRow-sixth {
			right: 150px;
		}

		&__seatB-thirdRow-first {
			left: 90px;
		}
		&__seatB-thirdRow-second {
			left: 120px;
		}
		&__seatB-thirdRow-third {
			left: 150px;
		}
		&__seatB-thirdRow-fourth {
			right: 90px;
		}
		&__seatB-thirdRow-fifth {
			right: 120px;
		}
		&__seatB-thirdRow-sixth {
			right: 150px;
		}

		&__seatB-fourthRow-first {
			left: 90px;
		}
		&__seatB-fourthRow-second {
			left: 120px;
		}
		&__seatB-fourthRow-third {
			left: 150px;
		}
		&__seatB-fourthRow-fourth {
			right: 90px;
		}
		&__seatB-fourthRow-fifth {
			right: 120px;
		}
		&__seatB-fourthRow-sixth {
			right: 150px;
		}

		&__seatB-fifthRow-first {
			left: 90px;
		}
		&__seatB-fifthRow-second {
			left: 120px;
		}
		&__seatB-fifthRow-third {
			left: 150px;
		}
		&__seatB-fifthRow-fourth {
			right: 90px;
		}
		&__seatB-fifthRow-fifth {
			right: 120px;
		}
		&__seatB-fifthRow-sixth {
			right: 150px;
		}

		&__seatB-sixthRow-first {
			left: 90px;
		}
		&__seatB-sixthRow-second {
			left: 120px;
		}
		&__seatB-sixthRow-third {
			left: 150px;
		}
		&__seatB-sixthRow-fourth {
			right: 90px;
		}
		&__seatB-sixthRow-fifth {
			right: 120px;
		}
		&__seatB-sixthRow-sixth {
			right: 150px;
		}

		&__seatB-seventhRow-first {
			left: 90px;
		}
		&__seatB-seventhRow-second {
			left: 120px;
		}
		&__seatB-seventhRow-third {
			left: 150px;
		}
		&__seatB-seventhRow-fourth {
			right: 90px;
		}
		&__seatB-seventhRow-fifth {
			right: 120px;
		}
		&__seatB-seventhRow-sixth {
			right: 150px;
		}

		&__seatB-eighthRow-first {
			left: 90px;
		}
		&__seatB-eighthRow-second {
			left: 120px;
		}
		&__seatB-eighthRow-third {
			left: 150px;
		}
		&__seatB-eighthRow-fourth {
			right: 90px;
		}
		&__seatB-eighthRow-fifth {
			right: 120px;
		}
		&__seatB-eighthRow-sixth {
			right: 150px;
		}

		&__seatB-ninthRow-first {
			left: 90px;
		}
		&__seatB-ninthRow-second {
			left: 120px;
		}
		&__seatB-ninthRow-third {
			left: 150px;
		}
		&__seatB-ninthRow-fourth {
			right: 90px;
		}
		&__seatB-ninthRow-fifth {
			right: 120px;
		}
		&__seatB-ninthRow-sixth {
			right: 150px;
		}

		&__seatV-firstRow-first {
			left: 100px;
		}
		&__seatV-firstRow-second {
			left: 140px;
		}
		&__seatV-firstRow-third {
			right: 100px;
		}
		&__seatV-firstRow-fourth {
			right: 140px;
		}

		&__seatV-secondRow-first {
			left: 100px;
		}
		&__seatV-secondRow-second {
			left: 140px;
		}
		&__seatV-secondRow-third {
			right: 100px;
		}
		&__seatV-secondRow-fourth {
			right: 140px;
		}

		&__seatV-thirdRow-first {
			left: 100px;
		}
		&__seatV-thirdRow-second {
			left: 140px;
		}
		&__seatV-thirdRow-third {
			right: 100px;
		}
		&__seatV-thirdRow-fourth {
			right: 140px;
		}

		&__seatV-fourthRow-first {
			left: 100px;
		}
		&__seatV-fourthRow-second {
			left: 140px;
		}
		&__seatV-fourthRow-third {
			right: 100px;
		}
		&__seatV-fourthRow-fourth {
			right: 140px;
		}

		&__seatV-fifthRow-first {
			left: 100px;
		}
		&__seatV-fifthRow-second {
			left: 140px;
		}
		&__seatV-fifthRow-third {
			right: 100px;
		}
		&__seatV-fifthRow-fourth {
			right: 140px;
		}

		&__seat-ban1 {
			left: 90px;
		}

		&__seat-ban2 {
			right: 90px;
		}

		&__seat-ban3 {
			left: 90px;
		}

		&__seat-ban4 {
			right: 90px;
		}
	}
}

@media (min-width: 420px){
	.popup-final{
	
		&__heading{
			right: 36%;
		}
		&__accept{
			right: 43%;
		}
	}
}

@media (min-width: 460px) {
	.plane-box {
		&__inside {
			width: 70%;
		}
		&__seats {
			font-size: 1.3rem;
		}
		&__seatsB {
			font-size: 2rem;
		}
		&__seatsV {
			font-size: 2.5rem;
		}
		.row {
			font-size: 1.7rem;
		}
		.rowV {
			font-size: 2.2rem;
		}
		.plane-box__seat-ban {
			font-size: 2.5rem;
		}
	}
}

@media (min-width: 500px) {
	.plane-box {
		.engaged,
		.available,
		&__seat-ban {
			margin: 0 40px;
		}
	}
}

@media (min-width: 555px) {
		.engaged,
		.available {
			margin: 0 40px;
		}
	}


@media (min-width: 576px) {
	.header {
		&__heading {
			font-size: 4.5rem;
		}
		&__timer{
			top: 5%;
			left: 5%;
		}
		&__btn{
			top: 5%;
			right: 5%;
		}
	}
	.basic-info {
		&__heading {
			font-size: 3rem;
		}
		&__text {
			top: 35%;
			font-size: 1.8rem;
		}
	}

	.order {
		&__heading {
			font-size: 4rem;
		}
	}

	.weather {
		&__heading {
			font-size: 3.5rem;
		}
		&__text {
			font-size: 2rem;
		}
		p {
			font-size: 2rem;
		}
	}

	.order-area {
		&__heading {
			font-size: 3rem;
		}
	}

	.summary{
		&__table{
			th{
				font-size: 2rem;
			}
			td{
				font-size: 1.5rem;
			}
		}
		&__btn{
			padding: 1em 2em;
		}
	}

	.plane-box {
		&__inside { 
			width: 60%;
			height: 1320px;
		}
		&__heading-economic {
			top: 7%;
			font-size: 2.8rem;
		}
		&__heading-business {
			top: 43%;
			font-size: 2.8rem;
		}
		&__heading-vip {
			top: 76%;
			font-size: 2.8rem;
		}
		.row {
			font-size: 2rem;
		}
		.rowV {
			font-size: 2.7rem;
		}
		.plane-box__seat-ban {
			font-size: 2.5rem;
		}
		.rowFirst {
			top: 10%;
		}
		.rowSecond {
			top: 12.5%;
		}
		.rowThird {
			top: 15%;
		}
		.rowFourth {
			top: 17.5%;
		}
		.rowFifth {
			top: 20%;
		}
		.rowSixth {
			top: 22.5%;
		}
		.rowSeventh {
			top: 25%;
		}
		.rowEighth {
			top: 27.5%;
		}
		.rowNinth {
			top: 30%;
		}
		.rowTenth {
			top: 32.5%;
		}
		.rowEleventh {
			top: 35%;
		}
		.rowTwelfth {
			top: 37.5%;
		}
		.rowFirstB {
			top: 46%;
		}
		.rowSecondB {
			top: 49%;
		}
		.rowThirdB {
			top: 52%;
		}
		.rowFourthB {
			top: 55%;
		}
		.rowFifthB {
			top: 58%;
		}
		.rowSixthB {
			top: 61%;
		}
		.rowSeventhB {
			top: 64%;
		}
		.rowEighthB {
			top: 67%;
		}
		.rowNinthB {
			top: 70%;
		}

		.rowFirstV {
			top: 80%;
		}
		.rowSecondV {
			top: 83.5%;
		}
		.rowThirdV {
			top: 87%;
		}
		.rowFourthV {
			top: 90.5%;
		}
		.rowFifthV {
			top: 94.5%;
		}

		&__seat-firstRow-first {
			top: 10.5%;
			left: 20%;
		}

		&__seat-firstRow-second {
			top: 10.5%;
			left: 24%;
		}

		&__seat-firstRow-third {
			top: 10.5%;
			left: 28%;
		}

		&__seat-firstRow-fourth {
			top: 10.5%;
			left: 32%;
		}

		&__seat-firstRow-fifth {
			top: 10.5%;
			right: 20%;
		}

		&__seat-firstRow-sixth {
			top: 10.5%;
			right: 24%;
		}

		&__seat-firstRow-seventh {
			top: 10.5%;
			right: 28%;
		}

		&__seat-firstRow-eighth {
			top: 10.5%;
			right: 32%;
		}

		&__seat-secondRow-first {
			top: 13%;
			left: 20%;
		}

		&__seat-secondRow-second {
			top: 13%;
			left: 24%;
		}

		&__seat-secondRow-third {
			top: 13%;
			left: 28%;
		}

		&__seat-secondRow-fourth {
			top: 13%;
			left: 32%;
		}

		&__seat-secondRow-fifth {
			top: 13%;
			right: 20%;
		}

		&__seat-secondRow-sixth {
			top: 13%;
			right: 24%;
		}

		&__seat-secondRow-seventh {
			top: 13%;
			right: 28%;
		}

		&__seat-secondRow-eighth {
			top: 13%;
			right: 32%;
		}

		&__seat-thirdRow-first {
			top: 15.5%;
			left: 20%;
		}

		&__seat-thirdRow-second {
			top: 15.5%;
			left: 24%;
		}

		&__seat-thirdRow-third {
			top: 15.5%;
			left: 28%;
		}

		&__seat-thirdRow-fourth {
			top: 15.5%;
			left: 32%;
		}

		&__seat-thirdRow-fifth {
			top: 15.5%;
			right: 20%;
		}

		&__seat-thirdRow-sixth {
			top: 15.5%;
			right: 24%;
		}

		&__seat-thirdRow-seventh {
			top: 15.5%;
			right: 28%;
		}

		&__seat-thirdRow-eighth {
			top: 15.5%;
			right: 32%;
		}

		&__seat-fourthRow-first {
			top: 18%;
			left: 20%;
		}

		&__seat-fourthRow-second {
			top: 18%;
			left: 24%;
		}

		&__seat-fourthRow-third {
			top: 18%;
			left: 28%;
		}

		&__seat-fourthRow-fourth {
			top: 18%;
			left: 32%;
		}

		&__seat-fourthRow-fifth {
			top: 18%;
			right: 20%;
		}

		&__seat-fourthRow-sixth {
			top: 18%;
			right: 24%;
		}

		&__seat-fourthRow-seventh {
			top: 18%;
			right: 28%;
		}

		&__seat-fourthRow-eighth {
			top: 18%;
			right: 32%;
		}

		&__seat-fifthRow-first {
			top: 20.5%;
			left: 20%;
		}
		&__seat-fifthRow-second {
			top: 20.5%;
			left: 24%;
		}
		&__seat-fifthRow-third {
			top: 20.5%;
			left: 28%;
		}
		&__seat-fifthRow-fourth {
			top: 20.5%;
			left: 32%;
		}
		&__seat-fifthRow-fifth {
			top: 20.5%;
			right: 20%;
		}
		&__seat-fifthRow-sixth {
			top: 20.5%;
			right: 24%;
		}
		&__seat-fifthRow-seventh {
			top: 20.5%;
			right: 28%;
		}
		&__seat-fifthRow-eighth {
			top: 20.5%;
			right: 32%;
		}

		&__seat-sixthRow-first {
			top: 23%;
			left: 20%;
		}
		&__seat-sixthRow-second {
			top: 23%;
			left: 24%;
		}
		&__seat-sixthRow-third {
			top: 23%;
			left: 28%;
		}
		&__seat-sixthRow-fourth {
			top: 23%;
			left: 32%;
		}
		&__seat-sixthRow-fifth {
			top: 23%;
			right: 20%;
		}
		&__seat-sixthRow-sixth {
			top: 23%;
			right: 24%;
		}
		&__seat-sixthRow-seventh {
			top: 23%;
			right: 28%;
		}
		&__seat-sixthRow-eighth {
			top: 23%;
			right: 32%;
		}

		&__seat-seventhRow-first {
			top: 25.5%;
			left: 20%;
		}
		&__seat-seventhRow-second {
			top: 25.5%;
			left: 24%;
		}
		&__seat-seventhRow-third {
			top: 25.5%;
			left: 28%;
		}
		&__seat-seventhRow-fourth {
			top: 25.5%;
			left: 32%;
		}
		&__seat-seventhRow-fifth {
			top: 25.5%;
			right: 20%;
		}
		&__seat-seventhRow-sixth {
			top: 25.5%;
			right: 24%;
		}
		&__seat-seventhRow-seventh {
			top: 25.5%;
			right: 28%;
		}
		&__seat-seventhRow-eighth {
			top: 25.5%;
			right: 32%;
		}

		&__seat-eighthRow-first {
			top: 28%;
			left: 20%;
		}
		&__seat-eighthRow-second {
			top: 28%;
			left: 24%;
		}
		&__seat-eighthRow-third {
			top: 28%;
			left: 28%;
		}
		&__seat-eighthRow-fourth {
			top: 28%;
			left: 32%;
		}
		&__seat-eighthRow-fifth {
			top: 28%;
			right: 20%;
		}
		&__seat-eighthRow-sixth {
			top: 28%;
			right: 24%;
		}
		&__seat-eighthRow-seventh {
			top: 28%;
			right: 28%;
		}
		&__seat-eighthRow-eighth {
			top: 28%;
			right: 32%;
		}

		&__seat-ninthRow-first {
			top: 30.5%;
			left: 20%;
		}
		&__seat-ninthRow-second {
			top: 30.5%;
			left: 24%;
		}
		&__seat-ninthRow-third {
			top: 30.5%;
			left: 28%;
		}
		&__seat-ninthRow-fourth {
			top: 30.5%;
			left: 32%;
		}
		&__seat-ninthRow-fifth {
			top: 30.5%;
			right: 20%;
		}
		&__seat-ninthRow-sixth {
			top: 30.5%;
			right: 24%;
		}
		&__seat-ninthRow-seventh {
			top: 30.5%;
			right: 28%;
		}
		&__seat-ninthRow-eighth {
			top: 30.5%;
			right: 32%;
		}

		&__seat-tenthRow-first {
			top: 33%;
			left: 20%;
		}
		&__seat-tenthRow-second {
			top: 33%;
			left: 24%;
		}
		&__seat-tenthRow-third {
			top: 33%;
			left: 28%;
		}
		&__seat-tenthRow-fourth {
			top: 33%;
			left: 32%;
		}
		&__seat-tenthRow-fifth {
			top: 33%;
			right: 20%;
		}
		&__seat-tenthRow-sixth {
			top: 33%;
			right: 24%;
		}
		&__seat-tenthRow-seventh {
			top: 33%;
			right: 28%;
		}
		&__seat-tenthRow-eighth {
			top: 33%;
			right: 32%;
		}

		&__seat-eleventhRow-first {
			top: 35.5%;
			left: 20%;
		}
		&__seat-eleventhRow-second {
			top: 35.5%;
			left: 24%;
		}
		&__seat-eleventhRow-third {
			top: 35.5%;
			left: 28%;
		}
		&__seat-eleventhRow-fourth {
			top: 35.5%;
			left: 32%;
		}
		&__seat-eleventhRow-fifth {
			top: 35.5%;
			right: 20%;
		}
		&__seat-eleventhRow-sixth {
			top: 35.5%;
			right: 24%;
		}
		&__seat-eleventhRow-seventh {
			top: 35.5%;
			right: 28%;
		}
		&__seat-eleventhRow-eighth {
			top: 35.5%;
			right: 32%;
		}

		&__seat-twelfthRow-first {
			top: 38%;
			left: 20%;
		}
		&__seat-twelfthRow-second {
			top: 38%;
			left: 24%;
		}
		&__seat-twelfthRow-third {
			top: 38%;
			left: 28%;
		}
		&__seat-twelfthRow-fourth {
			top: 38%;
			left: 32%;
		}
		&__seat-twelfthRow-fifth {
			top: 38%;
			right: 20%;
		}
		&__seat-twelfthRow-sixth {
			top: 38%;
			right: 24%;
		}
		&__seat-twelfthRow-seventh {
			top: 38%;
			right: 28%;
		}
		&__seat-twelfthRow-eighth {
			top: 38%;
			right: 32%;
		}

		&__seatB-firstRow-first {
			top: 46.5%;
			left: 20%;
		}
		&__seatB-firstRow-second {
			top: 46.5%;
			left: 26%;
		}
		&__seatB-firstRow-third {
			top: 46.5%;
			left: 32%;
		}
		&__seatB-firstRow-fourth {
			top: 46.5%;
			right: 20%;
		}
		&__seatB-firstRow-fifth {
			top: 46.5%;
			right: 26%;
		}
		&__seatB-firstRow-sixth {
			top: 46.5%;
			right: 32%;
		}

		&__seatB-secondRow-first {
			top: 49.5%;
			left: 20%;
		}
		&__seatB-secondRow-second {
			top: 49.5%;
			left: 26%;
		}
		&__seatB-secondRow-third {
			top: 49.5%;
			left: 32%;
		}
		&__seatB-secondRow-fourth {
			top: 49.5%;
			right: 20%;
		}
		&__seatB-secondRow-fifth {
			top: 49.5%;
			right: 26%;
		}
		&__seatB-secondRow-sixth {
			top: 49.5%;
			right: 32%;
		}

		&__seatB-thirdRow-first {
			top: 52.5%;
			left: 20%;
		}
		&__seatB-thirdRow-second {
			top: 52.5%;
			left: 26%;
		}
		&__seatB-thirdRow-third {
			top: 52.5%;
			left: 32%;
		}
		&__seatB-thirdRow-fourth {
			top: 52.5%;
			right: 20%;
		}
		&__seatB-thirdRow-fifth {
			top: 52.5%;
			right: 26%;
		}
		&__seatB-thirdRow-sixth {
			top: 52.5%;
			right: 32%;
		}

		&__seatB-fourthRow-first {
			top: 55.5%;
			left: 20%;
		}
		&__seatB-fourthRow-second {
			top: 55.5%;
			left: 26%;
		}
		&__seatB-fourthRow-third {
			top: 55.5%;
			left: 32%;
		}
		&__seatB-fourthRow-fourth {
			top: 55.5%;
			right: 20%;
		}
		&__seatB-fourthRow-fifth {
			top: 55.5%;
			right: 26%;
		}
		&__seatB-fourthRow-sixth {
			top: 55.5%;
			right: 32%;
		}

		&__seatB-fifthRow-first {
			top: 58.5%;
			left: 20%;
		}
		&__seatB-fifthRow-second {
			top: 58.5%;
			left: 26%;
		}
		&__seatB-fifthRow-third {
			top: 58.5%;
			left: 32%;
		}
		&__seatB-fifthRow-fourth {
			top: 58.5%;
			right: 20%;
		}
		&__seatB-fifthRow-fifth {
			top: 58.5%;
			right: 26%;
		}
		&__seatB-fifthRow-sixth {
			top: 58.5%;
			right: 32%;
		}

		&__seatB-sixthRow-first {
			top: 61.5%;
			left: 20%;
		}
		&__seatB-sixthRow-second {
			top: 61.5%;
			left: 26%;
		}
		&__seatB-sixthRow-third {
			top: 61.5%;
			left: 32%;
		}
		&__seatB-sixthRow-fourth {
			top: 61.5%;
			right: 20%;
		}
		&__seatB-sixthRow-fifth {
			top: 61.5%;
			right: 26%;
		}
		&__seatB-sixthRow-sixth {
			top: 61.5%;
			right: 32%;
		}

		&__seatB-seventhRow-first {
			top: 64.5%;
			left: 20%;
		}
		&__seatB-seventhRow-second {
			top: 64.5%;
			left: 26%;
		}
		&__seatB-seventhRow-third {
			top: 64.5%;
			left: 32%;
		}
		&__seatB-seventhRow-fourth {
			top: 64.5%;
			right: 20%;
		}
		&__seatB-seventhRow-fifth {
			top: 64.5%;
			right: 26%;
		}
		&__seatB-seventhRow-sixth {
			top: 64.5%;
			right: 32%;
		}

		&__seatB-eighthRow-first {
			top: 67.5%;
			left: 20%;
		}
		&__seatB-eighthRow-second {
			top: 67.5%;
			left: 26%;
		}
		&__seatB-eighthRow-third {
			top: 67.5%;
			left: 32%;
		}
		&__seatB-eighthRow-fourth {
			top: 67.5%;
			right: 20%;
		}
		&__seatB-eighthRow-fifth {
			top: 67.5%;
			right: 26%;
		}
		&__seatB-eighthRow-sixth {
			top: 67.5%;
			right: 32%;
		}

		&__seatB-ninthRow-first {
			top: 70.5%;
			left: 20%;
		}
		&__seatB-ninthRow-second {
			top: 70.5%;
			left: 26%;
		}
		&__seatB-ninthRow-third {
			top: 70.5%;
			left: 32%;
		}
		&__seatB-ninthRow-fourth {
			top: 70.5%;
			right: 20%;
		}
		&__seatB-ninthRow-fifth {
			top: 70.5%;
			right: 26%;
		}
		&__seatB-ninthRow-sixth {
			top: 70.5%;
			right: 32%;
		}

		&__seatV-firstRow-first {
			top: 80.5%;
			left: 22%;
		}
		&__seatV-firstRow-second {
			top: 80.5%;
			left: 30%;
		}
		&__seatV-firstRow-third {
			top: 80.5%;
			right: 22%;
		}
		&__seatV-firstRow-fourth {
			top: 80.5%;
			right: 30%;
		}

		&__seatV-secondRow-first {
			top: 84%;
			left: 22%;
		}
		&__seatV-secondRow-second {
			top: 84%;
			left: 30%;
		}
		&__seatV-secondRow-third {
			top: 84%;
			right: 22%;
		}
		&__seatV-secondRow-fourth {
			top: 84%;
			right: 30%;
		}

		&__seatV-thirdRow-first {
			top: 87.5%;
			left: 22%;
		}
		&__seatV-thirdRow-second {
			top: 87.5%;
			left: 30%;
		}
		&__seatV-thirdRow-third {
			top: 87.5%;
			right: 22%;
		}
		&__seatV-thirdRow-fourth {
			top: 87.5%;
			right: 30%;
		}

		&__seatV-fourthRow-first {
			top: 91%;
			left: 22%;
		}
		&__seatV-fourthRow-second {
			top: 91%;
			left: 30%;
		}
		&__seatV-fourthRow-third {
			top: 91%;
			right: 22%;
		}
		&__seatV-fourthRow-fourth {
			top: 91%;
			right: 30%;
		}

		&__seatV-fifthRow-first {
			top: 95%;
			left: 22%;
		}
		&__seatV-fifthRow-second {
			top: 95%;
			left: 30%;
		}
		&__seatV-fifthRow-third {
			top: 95%;
			right: 22%;
		}
		&__seatV-fifthRow-fourth {
			top: 95%;
			right: 30%;
		}

		&__seat-ban1 {
			top: 40%;
			left: 22%;
		}

		&__seat-ban2 {
			top: 40%;
			right: 22%;
		}

		&__seat-ban3 {
			top: 73%;
			left: 22%;
		}

		&__seat-ban4 {
			top: 73%;
			right: 22%;
		}
	}
	.popup-final{
		padding: 2em 4em;
	
		&__heading{
			font-size: 2.5rem;
		}
		&__text{
			font-size: 1.5rem;
			margin-bottom: 1em;
		}
		&__accept{
			padding: 0.5em 2em;
			font-size: 1.2rem;
		}
	}

	.exchange{
		&__heading{
			font-size: 2.5rem;
		}
		&__heading-text{
			font-size: 1.5rem;
		}
		&__body-rateInfo{
			font-size: 1.5rem;
		}
		&__body-rateInfo{
			font-size: 1.2rem;
		}
	}
}
